<section id="container" ng-app="TomKamphuisApp">
    @Html.Partial("_HeaderPartial")
    <section id="content" ng-controller="SlideController" ng-init="selectSlide('profile')">
        @*@Html.Partial("_ProfilePartial")*@
        <nav class="menu">
            <ul class="tabs" ng-repeat="slide in slides">
                <li class="tmenu">
                    <a href="#{{slide.pageTitle}}" class="{tab-profile: title == 'Profile'}" ng-click="selectSlide('{{slide.pageTitle}}')" onclick="sendAnalyticsData('Go to {{slide.pageTitle}}')"><i>{{slide.MenuPicto}}</i>{{slide.pageTitle}}</a>
                </li>
            </ul>
            <a class="prev" id="menu-prev" href="#">&#xe073;</a>
            <a class="next" id="menu-next" href="#">&#xe076;</a>
        </nav>
        @*@Html.Partial("_ResumePartial")
        @Html.Partial("_PortfolioPartial")
        @Html.Partial("_ContactPartial")*@
    </section>
    @Html.Partial("_FooterPartial")
</section>
@section Scripts {
    @Scripts.Render("~/Static/JS/App/SlideController.js")
}